.container{
    text-align: center;
    background: white;
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.5s ease-in-out;
  
    /* เพิ่ม Flexbox เพื่อจัดให้อยู่ตรงกลาง */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* ทำให้เต็มความสูงของหน้าจอ */
    margin: 0 auto; /* จัดให้อยู่ตรงกลางแนวนอน */
}
.puzzleContainer {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    margin: auto;
}

.puzzleTile {
    width: 100px;
    height: 100px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.puzzleTile.empty {
    background: white;
}

.wrapper {
    display: flex;
    justify-content: center;
    height: 65vh;
    width: 100%;
    max-width: 400px;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.winMessage {
    margin-top: 20px;
    text-align: center;
    font-size: 2em;
    color: green;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}